/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family:Arial, sans-serif;
    font-size:16px;
    color: #1A1A1A;
    background-color: #F9F9F9;
}
h1#logo3 {
    background: url("../styles/images/logoNicky.png") 0 0 no-repeat;
    width: 69px;
    height: 69px;
    text-indent: -9999px;
}
nav {
    position: relative;
    bottom:43px;
    height: 60px;
    background-color: #2B2B3F;
}
nav a {
    font-size:100%;
    font-weight: bold;
    text-decoration: none;
    color: #FFFA4D;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 20px 0;
}
.footer {
    padding-top:20px;
    height: 170px;
    margin-top: 40px;
    clear:both;
    position: relative;
    top:10px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav a:hover {
    color: #BA58BF;
}

.footer p, .footer a {
    color: #BA58BF;
    text-decoration: none;

}
#footerlogo {
    margin-left: 93px;
    position: relative;
    top: 5px;
}
#footerlogo img {
    width: 69px;
    length: 69px;
}
h2 {
    color: #2B2B3F;
    font-size: 160%;
}

.footer {
    background-color: #2B2B3F;
}
#rechts {
 position: relative;
    left: 1000px;
    bottom: 60px;

}
#rechts a {
   text-decoration: none;
}
.links {
 position: relative;
    bottom: 50px;
    left: 370px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
