* {
    box-sizing: border-box;
}

.wrapper, .container, .row, .col{
    display:block;
}

.wrapper {
    width:100%;
}

.container {
    width:1140px;
    margin: 0 auto;
    padding: 0 12px;
}

.row:before, .row:after {
    content: " ";
    display:table;
}

.row:after {
    clear:both;
}

.row .row {
    margin:0 -12px;
}

.col {
    float:left;
    margin:0 0 24px 24px;
    overflow: hidden;
}

.col-12 {
    width:1092px;
}

.col-11 {
    width:999px;
}

.col-10 {
    width:906px;
}

.col-9 {
    width:813px;
}

.col-8 {
    width:720px;
}

.col-7 {
    width:627px;
}

.col-6 {
    width:534px;
}

.col-5 {
    width:441px;
}

.col-4 {
    width:348px;
}

.col-3 {
    width:255px;
}

.col-2 {
    width:162px;
}

.col-1 {
    width:69px;
}

