h1#logo {
    background: url("../styles/images/bwback.jpg") 0 0 no-repeat;
    background-size: 100%;
    height: 150px;
    position:relative;
    bottom:21px;
    text-indent: -9999px;
}
h1#logo2 {
    background: url("../styles/images/logoNicky.png") 0 0 no-repeat;
    width: 120px;
    height: 120px;
    text-indent: -9999px;
    display:inline-block;
}
/*PORTFOLIO knop*/
#btn-tickets a{
    font-size:120%;
    font-weight: bold;
    text-decoration: none;
    color: #2B2B3F;
    text-transform: uppercase;
    margin:  12px;

}
#btn-tickets {
    padding: 10px;
    background-color: #BA58BF;
    position: relative;
    border-radius: 50px;
    left: 135px;
    top:30px;

}
#btn-tickets:hover {
    background-color: #FFFA4D;
}
#blauw {
    height: 300px;
    background-color: #2B2B3F;
    border-radius: 10px;
    border: solid 2px;
    border-color: rgba(243, 255, 255, 0.11);
}
#festname {
    color: #FFFA4D;
    position: relative;
    bottom: 85px;
    left: 45px;
    font-size: 12px;
}

#titel {
    text-align: center;
    position: relative;
    bottom: 60px;
}
.test {
    width: 150px;
    length: 150px;
    position: relative;
    top:70px;
    left:140px;
}

#recent {
    color: #2B2B3F;
    text-transform: uppercase;
}
